<li class="item attack flexrow" data-action-index="{{actionId}}" data-item-name="{{action.name}}" data-item-id="{{action.sourceId}}">
    <div class="attack-header">
        <h4 class="attack-name tags">
            <span>{{action.name}}<span class="activity-icon">{{action.glyph}}</span></span>
            {{#each traits as |trait traitIndex|}}
                <div class="tag tag_transparent" title="{{localize trait.description}}">{{localize trait.label}}</div>
            {{/each}}
        </h4>
        <div class="attack-controls controls">
            <a class="item-chat chat" title="{{localize "PF2E.NPC.SendToChat"}}"><i class="fas fa-comment-alt"></i></a>
            {{#if isEditable}}
                <a class="item-edit edit" title="{{localize "PF2E.NPC.Edit"}}"><i class="fas fa-edit"></i></a>
                <a class="item-delete delete" title="{{localize "PF2E.NPC.Remove"}}"><i class="fas fa-trash"></i></a>
            {{/if}}
        </div>
    </div>
    <div class="attack-body">
        <div class="flexrow">
            <div class="attacks sub-section">
                {{#each action.variants as |variant vi|}}
                    <button type="button" class="btn attack-button" {{#if (eq vi 0) }}title="{{action.breakdown}}"{{/if}} data-action="npcAttack" data-variant-index="{{vi}}">{{variant.label}}</button>
                {{/each}}
            </div>
            <div class="damage sub-section">
                <button type="button" class="damage-button" data-action="npcDamage">{{#each action.damageBreakdown}}{{this}}{{#unless @last}} + {{/unless}}{{/each}}</button>
                <button type="button" class="critical-button" data-action="npcCritical">{{localize "PF2E.CriticalDamageLabel"}}</button>
            </div>
        </div>
        <div class="attack-detail sub-section expandable expanded">
            <div class="attack-description">
                {{{enrichHTML action.description}}}
            </div>
        </div>
    </div>
</li>
