<div class="form-group-stacked">
    <label>
        {{localize "PF2E.TraitsLabel"}}
        <a class="trait-selector" data-trait-selector="basic" data-config-types="equipmentTraits" data-property="data.traits"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="traits-list pf-value pf-large">
        {{#each traits as |trait|}}
            <li class="tag-legacy" data-trait="{{trait.value}}">{{localize trait.label}}</li>
        {{/each}}
    </ul>
</div>
