<div class="tab notes" data-group="primary" data-tab="notes">
    <div class="notes-text flexcol">
        {{editor content=data.details.flavorText target="data.details.flavorText" button=true editable=editable}}
    </div>
</div>
