.app.token-sheet {
    .tab[data-tab="image"] {
        fieldset {
            border: 1px solid #b5b3a4;
            > legend {
                font-size: 15px;
                color: #333;
            }
            input[type="number"] {
                max-width: 60px;
                text-align: center;
                &:disabled {
                    border: none;
                    color: #777;
                }
            }

            label.dimension {
                font-size: 12px;
            }

            &:last-child {
                margin: 6px 0;
            }
            .form-group.scale.children-disabled {
                input[type="range"] {
                    opacity: 0.5;
                    pointer-events: none;

                    &::-webkit-slider-thumb, ::-moz-range-thumb {
                        visibility: hidden;
                    }
                }
                .range-value {
                    border: none;
                    background-color: rgba(0, 0, 0, 0.05);
                    color: #777;
                }
            }
        }
    }
}
