{{#with entry as |entry|}}
<ol class="directory-list item-list spell-list" data-casting-type="{{castingType}}">
    <!-- Add section for each level -->
    {{#each entry.levels as |section|}}
        {{#if (or (gt section.active.length 0) entry.data.showSlotlessLevels.value)}}
            <li class="item inventory-header spell-level-header spellbook-header" data-item-id="{{entry._id}}" data-item-type="spellLevel" data-level="{{section.level}}">
                <div class="item-name flexrow">
                    {{#if entry.isPrepared}}
                    {{#if entry.data.showUnpreparedSpells.value}}
                        <a class="skill-name level-prepared-toggle" title="{{localize "PF2E.ToggleSpellVisibilityLevelTitle"}}">
                            <i class="fas {{#if section.displayPrepared}}fa-book-open{{else}}fa-book{{/if}}"></i>
                        </a>
                    {{/if}}
                    {{/if}}

                    <h3>{{localize section.label}}</h3>

                    {{#if (and section.isCantrip (not section.uses))}}
                        <span class="spell-slots">&infin;</span>
                        <span class="flex0"> / </span>
                        <span class="spell-max">&infin;</span>
                    {{else if entry.isFocusPool}}
                        <div class="focus-points" title="{{localize "PF2E.Focus.pointTitle"}}">
                            {{~#times section.uses.max~}}
                                {{~#if (gt section.uses.value this)~}}
                                    <i class="fas fa-dot-circle"></i>
                                {{~else~}}
                                    <i class="far fa-circle"></i>
                                {{~/if~}}
                            {{/times}}
                        </div>
                    {{else if section.uses}}
                        {{#if section.uses.value includeZero=true}}
                            <span class="spell-slots-input">
                                <input type="number" data-item-id="{{entry.id}}" data-property="data.slots.slot{{section.level}}.value" value="{{section.uses.value}}" placeholder="0" data-dtype="Number"/>
                            </span>
                            <span class="flex0"> / </span>
                        {{/if}}
                        <span class="spell-max-input">
                            <input type="number" data-item-id="{{entry.id}}" data-property="data.slots.slot{{section.level}}.max" value="{{section.uses.max}}" placeholder="0" data-dtype="Number"/>
                        </span>
                        {{#if section.uses.value includeZero=true}}
                        {{#if @root.owner}}
                            <a class="spell-slots-increment-reset" data-item-id="{{entry._id}}"  data-level="{{section.level}}"><i class="fas fa-redo"></i></a>
                        {{/if}}
                        {{/if}}
                    {{/if}}
                </div>

                <div class="spell-range">{{localize "PF2E.SpellRangeLabel"}}</div>
                <div class="spell-components">{{localize "PF2E.SpellComponentsLabel"}}</div>

                {{#if @root.owner}}
                    <div class="spell-controls">
                        <div class="item-controls">
                            <a class="item-control spell-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell"
                                data-level="{{section.level}}" data-location="{{entry._id}}"><i class="fas fa-plus"></i></a>
                            <a class="item-control spell-browse" title="{{localize "PF2E.OpenSpellBrowserTitle"}}" data-type="spell"
                                data-level="{{section.level}}" data-location="{{entry._id}}"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                {{/if}}
            </li>

            <!-- Add spell items for each spell level -->
            {{#each section.active as |active i|}}
                {{#with active}}
                    <li
                        class="item {{#if virtual}}virtual{{/if}}"
                        data-item-id="{{spell.id}}"
                        data-entry-id="{{entry.id}}"
                        data-spell-lvl="{{section.level}}"
                        data-slot-id={{i}}
                        data-item-type="spell"
                        data-expended-state="{{expended}}"
                        data-item-summary-id="{{spell.id}}-{{section.level}}-{{i}}"
                    >
                        <div class="item-name rollable">
                            <div class="item-image">
                                <img class="item-icon" src="{{spell.img}}" alt="{{spell.name}}">
                            </div>
                            <h4>{{spell.name}}{{{actionGlyph spell.data.data.time.value}}}</h4>
                        </div>

                        <div class="spell-range">{{spell.data.data.range.value}}</div>
                        <div class="spell-components tags">
                            {{#if spell.data.data.components.focus}}
                                <span class="tag tag_transparent">{{localize "PF2E.SpellComponentShortF"}}</span>
                            {{/if}}
                            {{#if spell.data.data.components.material}}
                                <span class="tag tag_transparent">{{localize "PF2E.SpellComponentShortM"}}</span>
                            {{/if}}
                            {{#if spell.data.data.components.somatic}}
                                <span class="tag tag_transparent">{{localize "PF2E.SpellComponentShortS"}}</span>
                            {{/if}}
                            {{#if spell.data.data.components.verbal}}
                                <span class="tag tag_transparent">{{localize "PF2E.SpellComponentShortV"}}</span>
                            {{/if}}
                        </div>

                        <div class="spell-controls">
                            <button type="button" class="cast-spell-button">
                                {{localize "PF2E.CastLabel"}}
                            </button>

                            {{#if @root.owner}}
                                {{#unless (and entry.isFlexible (not section.isCantrip))}}
                                    <div class="item-controls">
                                    {{#if entry.isPrepared}}
                                        {{#unless section.isCantrip}}
                                            <a class="item-control item-toggle-prepare" title="{{localize "PF2E.ExpendSpellTitle"}}"><i class="fas fa-minus-square"></i></a>
                                        {{/unless}}
                                        <a class="item-control item-unprepare" title="{{localize "PF2E.UnprepareItemTitle"}}"><i class="fas fa-trash"></i></a>
                                    {{else}}
                                        {{#if (and (eq entry.data.prepared.value "spontaneous") (not section.isCantrip))}}
                                            <a class="item-control toggle-signature-spell" title="{{localize 'PF2E.ToggleSignatureSpellTitle'}}">
                                                {{#if signature}}<i class="fas fa-star"></i>{{else}}<i class="far fa-star"></i>{{/if}}
                                            </a>
                                        {{/if}}
                                        {{#unless virtual}}
                                            <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                            <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                        {{/unless}}
                                    {{/if}}
                                    </div>
                                {{/unless}}
                            {{/if}}
                        </div>
                    </li>
                {{else}}
                    <li class="item" data-item-id="{{i}}" data-spell-lvl="{{section.level}}" data-item-type="spellSlot" data-entry-id="{{entry.id}}" draggable="true">
                        <div class="item-name empty"><h4>{{localize "PF2E.SpellSlotEmpty"}}</h4></div>
                    </li>
                {{/with}}
            {{/each}}
        {{/if}}

        {{#if (and entry.data.showUnpreparedSpells.value section.displayPrepared)}}
            <header class="item-name pf-sub-category pf-actions level-prepared-header">
                {{localize "PF2E.UnpreparedSpellsLabel" label=(localize section.label) }}
                {{#if (and entry.flexibleAvailable (not section.isCantrip))}}
                    <div class="flexible-available">
                        ({{entry.flexibleAvailable.value}} / {{entry.flexibleAvailable.max}})
                    </div>
                {{/if}}
            </header>

            <!-- Unprepared Spells -->
            {{#each (lookup entry.spellPrepList section.level) as |item i|}}
                <li class="item spellbook-item" data-item-id="{{item.spell.id}}" data-item-type="spell">
                    <div class="item-name rollable">
                        <h4>{{item.spell.name}}{{{actionGlyph item.spell.data.data.time.value}}}</h4>
                    </div>

                    <div class="spell-range">{{localize item.data.range.value}}</div>
                    <div class="spell-action">{{item.data.time.value}}</div>

                    {{#if @root.owner}}
                        <div class="spell-controls">
                            <div class="item-controls">
                                {{#unless section.isCantrip}}
                                {{#if entry.isFlexible}}
                                    <input
                                        type="checkbox"
                                        class="toggle-signature-spell"
                                        {{checked signature}}
                                        title="{{#if signature}}{{localize 'PF2E.SpellCollectionRemove'}}{{else}}{{localize 'PF2E.SpellCollectionAdd'}}{{/if}}"
                                    />
                                {{/if}}
                                {{/unless}}
                                <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/if}}
                </li>
            {{/each}}
        {{/if}}
    {{/each}}
    {{#unless entry.levels}}
    {{#if @root.owner}}
        <li class="inventory-header spellbook-header spellbook-empty">
            <h4>{{localize "PF2E.SpellSlotEmpty"}}</h4>
            <a class="item-control spell-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell" data-location="{{entry._id}}">
                <i class="fas fa-plus"></i>{{localize "PF2E.AddSpellTitle"}}
            </a>
            <a class="item-control spell-browse" title="{{localize "PF2E.OpenSpellBrowserTitle"}}" data-type="spell" data-location="{{entry._id}}">
                <i class="fas fa-search"></i>{{localize "PF2E.OpenSpellBrowserTitle"}}
            </a>
        </li>
    {{/if}}
    {{/unless}}
</ol>
{{/with}}
